body {
    margin: 0px;
}
.pt p:first-child {
    color: #000;
    text-shadow: 1px 1px 0 #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
    max-width: 80%;
    margin: 0 auto;
    text-align: center;
    font-size: 70px;
    line-height: 70px;
    font-family: helvetica-extended, sans-serif;
    font-weight: bold;
}


.trainer-image {
    display: block;
    max-width: 100%;
    height: auto;
    max-height: 205.88px;
    float: left; 
    margin: 0 50px 100px 50px; 
}

.box1 {
    top: 170px;
    left: 250px; 
    margin:12px;
    height: 245px;
    width: 335px;
    background-color: #fecf3b;
    z-index:-1;
    border: 20px solid black;
}

.text-content1 {
    position: absolute;
    top: 250px;
    right: 10px;
    max-width: 40%;
    font-weight: 400;
    color: #fff;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

.box2 {
    position: absolute;
    top: 530px;
    left: 480px; 
    margin: 20px;
    height: 230px;
    width: 325px;
    background-color: #fecf3b;
    z-index:-1;
    float: right;
}

.text-content2 {
    position: absolute;
    top: 450px;
    max-width: 40%;
    font-weight: 400px;
    margin: 50px;
    color: #fff;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

.boxer-image {
    display: block;
    max-width: 100%;
    height: auto;
    max-height: 205.88px;
    margin: 0 40px 0px 0px; 
    float: right;
}

*, :after, :before {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

.imagesText {
    color: white;
}

.clickHere {
    color: white;
    font-size: 12px;
    font-weight: bold;
    border: black;
    border-radius: 0;
    background: transparent;
    font-family: helvetica-extended, sans-serif;
    margin: 0 0 20px;
}

.clickHere:hover {
    color: rgb(255, 191, 72);
    cursor: pointer;
}




.half-a-border-on-top {
    border-top: 1px solid;
    border-image: linear-gradient(to right, #000 50%, transparent 50%) 100% 1;
  }