body {
    background-color: #000; 
    margin: 0; 
    padding: 0; 
}

.academy,
.outTheBox,
.bookATour,
.joinNow {
    color: white;
    font-size: 12px;
    font-weight: bold;
    border: black; 
    border-radius: 0; 
    background: transparent;
    margin: 20px;
}

.gymbox-header-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
}

.academy:hover,
.outTheBox:hover,
.bookATour:hover,
.joinNow:hover {
    color: rgb(255, 191, 72);
    cursor: pointer;

}

